/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-image: url('/main/img/vinos.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el área del encabezado */
    background-position: center; /* Centra la imagen en el encabezado */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #fff; /* Color del texto */
    text-align: center;
    padding: 1%;
    position: fixed;
    width: 100%;
    height: 20%; /* Altura del encabezado */
    top: 0;
    z-index: 1000;
    cursor: pointer;
  }
  
  
  nav {
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  section {
    padding: 10px 0;
    text-align: center;
  }
  
  
  /* Estilos específicos para la galería */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .gallery-item {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .gallery img {
    width: calc(33.33% - 20px);
    margin: 10px;
    max-width: 300px;
    height: auto;
  }
  
  .image-description {
    margin-top: 10px;
  }
  
  /* Estilos específicos para las secciones */
  #seccioninicial {
    background-color: #f0f0f0;
    color: #333;
    padding-top: 12%; /* Ajusta el espacio superior según sea necesario */
  }
  
  #seccionimpar{
    background-color: #f0f0f0;
    color: #333;
    
  }
  
  #seccionpar {
    background-color: #f9f9f9;
    color: #333;
  }
  
/* Estilos generales */

section {
  padding: 30px;
  margin-bottom: 20px; /* Espacio entre secciones */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.section-content {
  text-align: left;
}

/* Estilos para las listas */
ul {
  list-style-type: none; /* Quita los estilos de viñetas */
  padding-left: 20px; /* Añade un espacio a la izquierda para separar los elementos */
}

ul li {
  margin-bottom: 10px; /* Espacio entre cada elemento de la lista */
}

  
  
  @media screen and (max-width: 768px) {
    .gallery img {
      width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .gallery img {
      width: calc(100% - 20px);
    }
  }
  